# Tarea 3
## *Visualización de Datos con Python*

In [15]:
#importamos librerias a usar
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

### Cargamos los datos procesados de la tarea anterior

In [16]:
df = pd.read_csv("surveys.csv")

## El Conjunto de Datos: Observaciones a Animales
Nuestro conjunto de datos contiene la especie, el sexo, el tamaño de pata en milimetros y peso en gramos de aves vistas en un sitio en particular en una fecha especifica.
Los registros datan desde el año 1977 hasta el año 2002.
Se describen 24 especies diferentes de aves en 24 areas diferentes.

**A partir de estos datos generaremos 5 graficos.**

### Grafico 1
Utilizaremos un grafico de lineas para representar las tendencias que tienen la 5 especies de aves mas frecuente ( *DM* ; *PP* ; *DO* ; *PB* ; *RM* ) entre los años 1977 y 2002

In [66]:
df_aux = df[['year','species_id']]
condicion = ((df_aux['species_id'] == 'DM') | (df_aux['species_id'] == 'PP') | (df_aux['species_id'] == 'DO') | (df_aux['species_id'] == 'PB') | (df_aux['species_id'] == 'RM'))
lista_años = df_aux['year'].unique().tolist()
df_l = df_aux[condicion].groupby('year')['species_id'].value_counts().to_frame()
df_l.columns = ['Avistamientos']
df_l = df_l.transpose()
df_l

year          1977           1978            1979      ... 2001                \
species_id      DM  DO PP RM   DM  PP  DO RM   DM  DO  ...   PB   DM   PP  DO
Avistamientos  184  12  3  2  352  23  22  2  205  29  ...  522  294  259  77

year              2002
species_id     RM   PB   PP   DM   DO  RM
Avistamientos  15  868  376  303  243  20

[1 rows x 112 columns]

### Grafico 2

### Grafico 3

### Grafico 4

### Grafico 5